<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>My Second Project Users Page</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    <div class="djangotwo">
      {% if user_page%}
        <table>
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
          </thead>
          {% for user in user_page %}
            <tr>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName}}</td>
              <td>{{ user.email }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No access record found</p>
      {% endif %}
    </div>
  </body>
</html>
